html{
    margin:0;
    padding:0;
    width:100%;
}

body{
    margin:0;
    padding:0;
    width:100%;
    text-align: center;
    background: url("ta.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    display:table;
}

.wrapper{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

tspan{
    stroke: rgb(255, 255, 255);
    fill:#fff;
    stroke-dasharray:1800;
    opacity: 10;    
    animation-name:a;
    animation-duration:5s ;
    animation-iteration-count: infinite;


}

@keyframes a{
    0%{
        opacity: 0;
        fill:none;
        stroke-dashoffset: 1800;
    }
    40%{
        opacity: 0.4;
        fill:none;
        stroke-dashoffset: 1800;
    }
    90%{
        
        fill:rgba(194, 186, 165, 0.856);
        
    }
    100%{
        opacity: 1;
        fill:rgb(0, 0, 0);
        stroke-dashoffset:0;
    }
}
