/* Navigation */


#mainNav{
    background-color: #212529;
}


.navbar .container{
    margin: 0;
}

.navbar .container i{
    color: gold;
}

.navbar .container i:hover{
    color: pink;
    
}

.navbar-toggler-icon{
    color: gold;
}

.link{
    padding: 15px;
    color: white;
    -webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.link:hover{
    text-decoration: none;
    color: gold;
    background-color: black;
    border-radius: 4rem;
}


/* jumbotron */
.jumbotron{
    text-align: center;
    background-image: url(images/mainimg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}



.welcom{
    text-align: center;
    font-family: "Droid Serif";
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    padding: 20px;
}

.jumbotron-heading{
    text-align: center;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    padding: 50px;
}

.container main{
  
/*    
    width: 160px;
    height: 160px; */
    border-radius: 5em;
}
.container .btn{
    color: black;
    background-color: #fed136;
    border-color: #fed136;
    margin-bottom: 20px;
}

/* .container .description{
   
} */


/* About me */
#firstIcon{
    border: 1px solid black;
    width: 160px;
    height: 160px;
    margin: auto ;
    border-radius: 5rem;

}

.description{
    margin-top: 50px;
}

.about i{
    color: dodgerblue;
}

.about-icon i{
    line-height: 160px;
}

.front-end{
    margin-top: 20px;
}

.about .container h1{
    padding: 20px;
}
.container .aboutMeHeading{
    padding: 50px;
}

.about .container .row{
    margin-top: 100px;
}
.col-md-6{
    padding: 50px;
}

.company{
    margin-top: 100px;
    display: flex;
    height: 100px;
  
}
.comapny-logo{
    flex-shrink: 1;
}
.company p{
    flex-shrink: 3;
    line-height: 100px;
    margin-left: 100px;
}


/* skills */
.skill-section h1{
    padding: 20px;
}

.skill-section h5{
    /* margin-bottom: 30px; */
}
.skillbar{
    background-color:#333331;
}

.skill-section .row{
    /* margin-bottom: 50px; */
}

.tools{
    background-color:#575755;
    width: 100%;
    height: 70%;
}

.inner-text{
    display: flex;
    justify-content: space-between;
    /* padding: 0; */
}

.html{
    padding: 10px;
}

.skillbar p{
    color: white;
    margin-bottom: 0;
}

.container .progress{
    height: 5px;
    /* background-color: orange; */
}

.html-progress{
    width: 99%;
}

.skill-section {
    background: #ededa1;
}

.skills{
    background-attachment: fixed;
}

.skill-section .tools-etc{
    background: #636362;
  
    padding: 0;
    padding: 0;
    border: 0;
}

.skill-section .tools-title{
    color: white;
    padding-top: 30px;
}

.skill-section .tools-title-content{
    color: white;
    /* padding: 10px; */
    text-align: center;
    margin-top: 30px;
}
.etc{
    background: #63635e;
}

.etc p{
    color: white;
    text-align: center;
}

/* contact */

.page-section{
    background-image: url(images/empty-living-room-with-blue-sofa-plants-table-empty-white-wall-background-3d-rendering.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}
.page-section h1{
    padding: 30px;
    
}

.page-section p{
    padding: 10px;
}

.page-section a{
    padding: 10px;
    margin-bottom: 20px;
}

.page-section i{
    color: black;
}


